
#Space {
    height: 0;
    width:0%;
}
html, body {
    overflow: hidden;
}
@media (max-width:1239px){
    .CloudR, .cloudL {
        width: 200px;
    }
    #Right .MaxSizeBar {
        width: 90px;
    }
}
@media (max-width:1117px){
    #Bulbasaur{
        width: 200px;
    }
    .LeFtLeft, .RightLeft {
        font-size: 20px;
    }
}
@media (max-width:979px){
    .LeftLeft, .RightLeft {
        font-size: 20px;
    }
}
@media (max-width:645px){
    main{
        flex-direction: column;
        gap: 50px;
        margin: 0;
    }
    .Right, .Left {
    perspective: 0;
    transform:none;
    }
    .Middle, .Right {
        margin: 0;
    }
    .CloudR, .cloudL {
    font-size: 40px;
        padding: 45px;
    }
    .MaxSizeBar{
        
    width: 200px;
    }
#Space {
    height: 20vh;
    width: 100%;
}
html, body {
    overflow:auto;
}
}



.Types {
    display: flex;
    width: fit-content;
    gap: 20px;
}
.type {
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: -5px;

}
#Fire {
        background-color: #f59048;
        box-shadow: 0 0 10px 2.5px #f59048;
}

#Grass {
        background-color: #77C850;
        box-shadow: 0 0 10px 2.5px #77C850;
}  
#Poison {
        background-color: #7B1FA2;
        box-shadow: 0 0 10px 2.5px #7B1FA2;
}
#Fly {
        background-color: #6BAED6;
        box-shadow: 0px 0px 10px #5595b9;
}