main {
    flex-direction: column;
}
body {
        background-color: #24cccc;
}
.Content {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Description {
    flex: 1;
}
.Droite{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
fieldset {
    max-width: 400px;
}
#Chut {
    font-size: 10px;
    color: grey;
}
#Moi {
    width: 150px;
}
section {
    background-color: #50E5E5;
    padding: 20px;
    border-radius: 20px;
    border: solid, 1px;
    box-shadow:  0 0 30px 2.5px  #50E5E5;
}
#submit {
    box-shadow:  0 0 15px 5px  rgb(31, 255, 255);
}