/* --Header-- */
    header{
        position:fixed;
        display: flex;
        align-items: center;
        font-size: 90px;
        background-color: #866669;
        border-bottom-left-radius: 75px;
        border-bottom-right-radius: 75px;
        color: #532B27;
        justify-content: center;
        width: 100%;
        z-index: 1;
        text-align: center;
        
    }
    #title, #title2 {
        margin-top: -5vh;
        margin-bottom: -4vh;
        flex: 4;
    }
    #pokeball {
        width: 17vh;
    }
    #HomeLink {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        flex: 1;
    } 
/* ------------ */

/*--Footer--*/
footer {
    position: fixed;
    display: grid;
    align-items: center;
        font-size: 90px;
    justify-content: space-evenly;
    background-color: #866669;
    border-Top-left-radius: 75px;
    border-Top-right-radius: 75px;
    color: #532B27;
    bottom: 0px;
    width: 100%;
    
}
/*-------------*/

@media (max-width: 973px) {
    #title, #title2 {
        font-size: 75px;
    }
    footer span{
        font-size: 75px;
    }
}

@media (max-width: 645px) {
    #title, #title2 {
        font-size: 50px;
    }
    footer span{
        font-size: 50px;
    }
    #pokeball {
        width: 15vh;
    }
}

@media (max-width: 473px) {
    #title, #title2 {
        font-size: 40px;
    }
    footer span{
        font-size: 40px;
    }
    #pokeball {
        width: 10vh;
    }
    #title {
        margin-left: 10px;
    }
}