/* Format universel pour les Navbare sauf pour index et succes qui ont sois pas de navbar sois une différente */



/* -- Nav bar -- */
nav {
    background-color: #74e7e7c2;
    width: 120px;
    height: 130px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 100%;
    flex-direction: column;
    position: fixed;
    align-self: flex-end;
    margin-top: 25px;
}
.bulle {
    background-color: #ffffff39;
    width: 80px;
    height: 90px;
    position: absolute;
    border-radius: 100%;
    margin-left: 65px;
    margin-bottom: 30px;
    transition: 0.5s ease-in;
}
nav a {
    opacity: 30%;
    z-index: 2;
    text-decoration: none;
    color: white;
}
nav a:hover {
    cursor:url('../Images/PKMN\ Box\ Cursor\ -\ Normal.cur') 4 4, auto;
}
#Cont:hover ~ .bulle{
    margin-top: 70px;
    margin-right: 60px;
    width: 100px;
    height: 40px;
    transition: 0.5s ease-in;
}

#Game:hover ~ .bulle{
    margin-top: -10px;
    margin-right: 65px;
    width: 140px;
    height: 40px;
    transition: 0.5s ease-in;
}
@media (max-width:1422px){
    nav {
    width: 60px;
    height: 100%;
    padding: 20px;
    border-radius: 0px;
    flex-direction: column;
    position: fixed;
    align-self: start;
    margin-left: -85px;
    margin-top: -150px;
    gap: 200px;
    }
    nav a {
        rotate: -90deg;
        font-size: 30px;
        gap: 50px;
    }
    #game {
        margin-top: -100px;
        width: 240px;
    }
    .bulle {
        height: 5px;
        border-radius: 0 ;
        margin-left: 0;
        transition: 1.5s ease;
    }
    .PokemonChain {
        margin-left: 60px;
    }
    #Cont:hover ~ .bulle{
        margin-top: 165px;
        border-radius: 60%;
        transition: 1s ease-in-out;
        height: 140px;
        width: 50px;
        margin-left: 60px;
    }

    #Game:hover ~ .bulle{
        margin-top: -290px;
        border-radius: 60%;
        transition: 1s ease-in-out;
        height: 300px;
        width: 70px;
        margin-left: 70px;
    }
}