
html, body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
}
.title {
    margin-top: -40px;
}
body {
    display:flex;
    flex-direction: column;
}
p {
    margin: 0;
}
#Space {
    height: 50vh;
    width: 100%;
}
main {
    margin-top: 150px;
}