body {
        background-color: #24cccc;
}
main {
        padding: 50px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 150px;
}
section, button{
        font-size: 50px;
        text-align: center;
        background-color: #1ba8a8;
        width: 700px;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        border-color:#ffffff00;
        justify-content: center;
}
.GenTitle {
        width: 100%;
}
article {
    display: flex;
    flex-direction: row;
    gap : 20px;
}
.Images {
        height: 300px;
        width: 300px;
        border-radius: 10px;
        flex: 1;
}
summary {

        background-color: #ffffff23;
        color: rgba(240, 255, 255, 0.596);
        border-radius: 15px;
        padding: 10px;
        font-size: 50px;
        flex: 1;
        max-height: 280px;
        overflow-y:auto; 
        scrollbar-color: rgba(255, 255, 255, 0.13) transparent;
        scrollbar-width: thin;
}
#Description {
        font-size: 20px;
}
.Categorie {
        height: fit-content;
        width: 100%
}
.Categorie Article {
        display: flex;
        justify-content: center;
        
}
/* --Générations-- */
#G1 {

        background-color:#e67d2242;
        color: #E67E22;
}
#G2 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G3 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G4 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G5 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G6 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G7 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G8 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G9 {
        background-color:#e67d2242;
        color: #E67E22;
}
button:focus section{
        visibility: visible;
}
button:not(:focus) section{
        visibility: hidden;
}
button:not(:focus) {
        height: 102px;
}
/* -------------- */

/* --Soleil/Lune-- */
#PetitLunala {
        justify-self: end;
        position: absolute;
        width: 50px;  
}
#PetitLunala:hover{
      content: url(../Images/Jaquette_de_Pokémon_Soleil.png);
}
.Groupe:has(#PetitLunala:hover) #PokemonSoleil {
      content: url(../Images/Jaquette_de_Pokémon_Lune.png)
}
.Groupe:has(#PokemonSoleil:hover) #PetitLunala {
      content: url(../Images/Jaquette_de_Pokémon_Soleil.png)
}
#PokemonSoleil:hover {
      content: url(../Images/Jaquette_de_Pokémon_Lune.png)
}
/* -------------  */

/* --UlraSoleil/UltraLune-- */
#PetitUltraLunala {
        justify-self: end;
        position: absolute;
        width: 50px;  
}

#PetitUltraLunala:hover{
      content: url(../Images/Jaquette_de_Pokémon_Ultra-Soleil.jpg);
}
.Groupe:has(#PetitUltraLunala:hover) #PokemonUltraSoleil {
      content: url(../Images/Jaquette_de_Pokémon_Ultra-Lune.jpg)
}
.Groupe:has(#PokemonUltraSoleil:hover) #PetitUltraLunala {
      content: url(../Images/Jaquette_de_Pokémon_Ultra-Soleil.jpg)
}
#PokemonUltraSoleil:hover {
      content: url(../Images/Jaquette_de_Pokémon_Ultra-Lune.jpg)
}
/* -------------  */

/* --Pikachu/Evolie-- */
#PetitEvolie {
        justify-self: end;
        position: absolute;
        width: 50px;  
}

#PetitEvolie:hover{
      content: url("../Images/Jaquette_de_Pokémon_Let\'s_Go_Pikachu.png");
}
.Groupe:has(#PetitEvolie:hover) #PokemonPikachu {
      content: url("../Images/Jaquette_de_Pokémon_Let\'s_Go_Évoli.png")
}
.Groupe:has(#PokemonPikachu:hover) #PetitEvolie {
      content: url("../Images/Jaquette_de_Pokémon_Let\'s_Go_Pikachu.png")
}
#PokemonPikachu:hover {
      content: url("../Images/Jaquette_de_Pokémon_Let\'s_Go_Évoli.png")
}
/* -------------  */
/* --Or/Argent-- */
#PetitArgent {
        justify-self: end;
        position: absolute;
        width: 50px;  
}

#PetitArgent:hover{
      content: url("../Images/Jaquette_de_Pokémon_Or.png");
}
.Groupe:has(#PetitArgent:hover) #PokemonOr {
      content: url("../Images/Jaquette_de_Pokémon_Argent.png")
}
.Groupe:has(#PokemonOr:hover) #PetitArgent {
      content: url("../Images/Jaquette_de_Pokémon_Or.png")
}
#PokemonOr:hover {
      content: url("../Images/Jaquette_de_Pokémon_Argent.png")
}
/* -------------  */
/* --Rubis/Saphir-- */
#PetitSaphir {
        justify-self: end;
        position: absolute;
        width: 50px;  
}

#PetitSaphir:hover{
      content: url("../Images/Jaquette_de_Pokémon_Rubis.png");
}
.Groupe:has(#PetitSaphir:hover) #PokemonRubis {
      content: url("../Images/Jaquette_de_Pokémon_Saphir.png")
}
.Groupe:has(#PokemonRubis:hover) #PetitSaphir {
      content: url("../Images/Jaquette_de_Pokémon_Rubis.png")
}
#PokemonRubis:hover {
      content: url("../Images/Jaquette_de_Pokémon_Saphir.png")
}
/* -------------  */
/* --Rouge feu/Vert feuille-- */
#PetitVertFeuille {
        justify-self: end;
        position: absolute;
        width: 50px;  
}

#PetitVertFeuille:hover{
      content: url("../Images/Jaquette_de_Pokémon_Rouge_Feu.png");
}
.Groupe:has(#PetitVertFeuille:hover) #PokemonRougeFeu {
      content: url("../Images/Jaquette_de_Pokémon_Vert_Feuille.png")
}
.Groupe:has(#PokemonRougeFeu:hover) #PetitVertFeuille {
      content: url("../Images/Jaquette_de_Pokémon_Rouge_Feu.png")
}
#PokemonRougeFeu:hover {
      content: url("../Images/Jaquette_de_Pokémon_Vert_Feuille.png")
}
/* -------------  */

/* -- NavBar -- */

nav a {
    opacity: 30%;
    z-index: 2;
}
nav a:hover {
    cursor:url('../Images/PKMN\ Box\ Cursor\ -\ Normal.cur') 4 4, auto;
}


    nav {
    background-color: #74e7e7c2;
    width: 60px;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    flex-direction: column;
    position: fixed;
    align-self: start;
    visibility: visible;
    gap: 200px;
    padding-top: 100px;
    }
    nav a {
        rotate: -90deg;
        font-size: 30px;
        gap: 50px;
        text-decoration: none;
        color: white;
    }
    #game {
        margin-top: -100px;
        width: 240px;
    }
    .bulle {
        height: 5px;
        border-radius: 0 ;
        margin-left: 0;
        transition: 1.5s ease;
        background-color: #ffffff39;
        width: 80px;
        position: absolute;
        margin-top: -30px;
    }
    #Cont:hover ~ .bulle{
        margin-top: 135px;
        border-radius: 60%;
        transition: 1s ease-in-out;
        height: 140px;
        width: 50px;
        margin-left: 10px;
    }

    #Game:hover ~ .bulle{
        margin-top: -300px;
        border-radius: 60%;
        transition: 1s ease-in-out;
        height: 300px;
        width: 70px;
        margin-left: 10px;
    }

/* ---------- */

@media (max-width:845px){
        #PokemonSoleil, #PokemonUltraSoleil, #PokemonPikachu, #PokemonOr, #PokemonCristal, #PokemonRubis, #PokemonEmeraude, #PokemonRougeFeu{
        width: 30vw;
        height: 30vw;
        }
        summary #Description{
        font-size: 2vw;
        }
        summary {
                max-height: 30vw;
                font-size: 3vw;
        }
}
@media (max-width:583px){
        #PokemonSoleil, #PokemonUltraSoleil, #PokemonPikachu, #PokemonOr, #PokemonCristal, #PokemonRubis, #PokemonEmeraude, #PokemonRougeFeu{
        width: 25vw;
        height: 25vw;
        
        }
        summary {
                max-height: 22vw;
        }
}
@media (max-width:471px){
        span {
                font-size: 40px;
        }
}
@media (max-width:553px){
        button span, section span{
                font-size: 30px;
        }
}
@media (max-width:379px){
        button span, section span{
                font-size: 20px;
        }
}