body {
        background-color: #24cccc;
}
main {
        padding: 50px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
}
section {
        font-size: 50px;
        text-align: center;
        background-color: #1ba8a8;
        width: 700px;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        height: 300px;
}
article {
    display: flex;
    flex-direction: row;
    gap : 20px;
}
.Images {
        height: 300px;
        width: 300px;
        border-radius: 10px;
        flex: 1;
}
summary {

        background-color: #ffffff23;
        color: rgba(240, 255, 255, 0.596);
        border-radius: 15px;
        padding: 10px;
        font-size: 50px;
        flex: 1;
        max-height: 280px;
        overflow-y:auto; 
        scrollbar-color: rgba(255, 255, 255, 0.13) transparent;
        scrollbar-width: thin;
}
#Description {
        font-size: 20px;
}
#More {
        color: rgba(240, 255, 255, 0.308);
        font-size: 25px;
}
.Categorie {
        height: fit-content;
        width: 100%;
}
.Categorie Article {
        display: flex;
        justify-content: center;
        
}
/* --Générations-- */
#G1 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G2 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G3 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G4 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G5 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G6 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G7 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G8 {
        background-color:#e67d2242;
        color: #E67E22;
}
#G9 {
        background-color:#e67d2242;
        color: #E67E22;
}
/* -------------- */

/* --Soleil/Lune-- */
#PetitLunala {
        justify-self: end;
        position: absolute;
        width: 50px;  
}
#PetitLunala:hover{
      content: url(../Images/Jaquette_de_Pokémon_Soleil.png);
}
.Groupe:has(#PetitLunala:hover) #PokemonSoleil {
      content: url(../Images/Jaquette_de_Pokémon_Lune.png)
}
.Groupe:has(#PokemonSoleil:hover) #PetitLunala {
      content: url(../Images/Jaquette_de_Pokémon_Soleil.png)
}
#PokemonSoleil:hover {
      content: url(../Images/Jaquette_de_Pokémon_Lune.png)
}
/* -------------  */

/* --UlraSoleil/UltraLune-- */
#PetitUltraLunala {
        justify-self: end;
        position: absolute;
        width: 50px;  
}

#PetitUltraLunala:hover{
      content: url(../Images/Jaquette_de_Pokémon_Ultra-Soleil.jpg);
}
.Groupe:has(#PetitUltraLunala:hover) #PokemonUltraSoleil {
      content: url(../Images/Jaquette_de_Pokémon_Ultra-Lune.jpg)
}
.Groupe:has(#PokemonUltraSoleil:hover) #PetitUltraLunala {
      content: url(../Images/Jaquette_de_Pokémon_Ultra-Soleil.jpg)
}
#PokemonUltraSoleil:hover {
      content: url(../Images/Jaquette_de_Pokémon_Ultra-Lune.jpg)
}
/* -------------  */

/* --Pikachu/Evolie-- */
#PetitEvolie {
        justify-self: end;
        position: absolute;
        width: 50px;  
}

#PetitEvolie:hover{
      content: url("../Images/Jaquette_de_Pokémon_Let\'s_Go_Pikachu.png");
}
.Groupe:has(#PetitEvolie:hover) #PokemonPikachu {
      content: url("../Images/Jaquette_de_Pokémon_Let\'s_Go_Évoli.png")
}
.Groupe:has(#PokemonPikachu:hover) #PetitEvolie {
      content: url("../Images/Jaquette_de_Pokémon_Let\'s_Go_Pikachu.png")
}
#PokemonPikachu:hover {
      content: url("../Images/Jaquette_de_Pokémon_Let\'s_Go_Évoli.png")
}
/* -------------  */