/* --Header-- */
    header{
        display: flex;
        align-items: center;
        font-size: 100px;
        background-color: #866669;
        border-bottom-left-radius: 75px;
        border-bottom-right-radius: 75px;
        color: #532B27;
        
    }
    #title, #title2 {
        margin-top: -40px;
        margin-bottom: -30px;
    }
    #title {
        margin-left: 20%;
    }
    #title2 {
        margin-right: 20%;
    }
    #HomeLink  {
        width: fit-content;
    }
    #pokeball {
        width: 25%;
    }
    #HomeLink {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
    } 
/* ------------ */

/* --Body--*/
    body {
        background-color: hsl(180, 70%, 47%);
        display: flex;
        flex-direction: column;
    }
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 50px;
    }
    .LeftSide {
        margin-left: 20%;
    }
    .RightSide {
            width: fit-content;
            display: flex;
            flex-direction: column;
            margin-right: 20%;
            gap: 30px;
    }
    /* --Hugo informations-- */
        .Hugo {
            display: flex;
            flex-direction: column;
            font-size: 35px;
        }
        .HugoArticle {
            border-bottom: solid;
            padding-left: 20px;
            padding-right: 40px;
            border-width: 1px;
            
        }
        #NavArticle {
            padding-left: 20px;
            border-bottom: solid;
            border-width: 3px;
            border-bottom-style: dotted;
            width: fit-content;
        }
        .NavTexte {
            margin-top: -20px;
            margin-bottom: 30px;
        }
    /* ------------ */
        
    /* --Description-- */
    .Description {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-bottom: 20px;
        max-width: 500px;
    }
    /* ------------ */

    /* --Github Link-- */
    .GithubLink {
        text-align: center;
        border-radius: 50px;
        font-size: 40px;
        width: 520px;
    }
    .GithubLink:hover {
        background-color: #7bffff;
    }

    #LinkText {
        margin: 0;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    /* ------------ */
    
/* ------------ */

/*--Footer--*/
footer {
    display: flex;
    align-items: center;
    font-size: 100px;
    justify-content: space-evenly;
    background-color: #866669;
    border-Top-left-radius: 75px;
    border-Top-right-radius: 75px;
    color: #532B27;
    margin-top: auto;
}
/*-------------*/

/* --Generale--*/
    p, h1 {
        margin: 10px;
    }
    a {
        color: black;
        text-decoration: none;
    }
    li:hover {
        background-color: #7bffff;
    }
    nav {
        padding-left: 20px;
    }
    section {
        background-color: #50E5E5;
            background-color: #50E5E5;
            width: fit-content;
            border-radius: 30px;
            border: solid, 2px;
    }
/* ------------ */