

/* --Body--*/
    body {
        background-color: hsl(180, 70%, 47%);
        display: flex;
        flex-direction: column;
    }
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .LeftSide {
        margin-left: 20vw;
    }
    .RightSide {
            width: fit-content;
            display: flex;
            flex-direction: column;
            margin-right: 20vw;
            gap: 2vh;
    }
    /* --Hugo informations-- */
        .Hugo {
            display: flex;
            flex-direction: column;
            font-size: 35px;
        }
        .HugoArticle {
            border-bottom: solid;
            padding-left: 2vw;
            padding-right: 2vw;
            border-width: 1px;
            
        }
        #NavArticle {
            padding-left: 2vw;
            border-bottom: solid;
            border-width: 3px;
            border-bottom-style: dotted;
            width: fit-content;
        }
        .NavTexte {
            margin-top: -2vh;
            margin-bottom: 3vh;
        }
    /* ------------ */
        
    /* --Description-- */
    .Description {
        display: flex;
        flex-direction: column;
        padding-left: 1vw;
        padding-bottom: 2vh;
        max-width: 25vw;
    }
    /* ------------ */

    /* --Github Link-- */
    .GithubLink {
        text-align: center;
        border-radius: 50px;
        font-size: 40px;
        width: 26vw;
    }
    .GithubLink:hover {
        transition: ease-out, 1s;
        background-color: #7bffff;
    }
    .GithubLink:not(:hover) {
        transition: ease-in, 2s;
        background-color: #50E5E5;
    }

    #LinkText {
        margin: 0;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    /* ------------ */
    
/* ------------ */


/* --Generale--*/
    p, h1 {
        margin: 10px;
    }
    a {
        color: black;
        text-decoration: none;
    }
    li:hover {
        background-color: #7bffff;
        transition: ease-in, 1s;
    }
    li:not(:hover) {
        transition: ease-out, 2s;
        background-color: #50E5E5;
    }
    nav {
        padding-left: 20px;
    }
    section {
        background-color: #50E5E5;
            background-color: #50E5E5;
            width: fit-content;
            border-radius: 30px;
            border: solid, 2px;
    }
/* ------------ */