body {
    background-color: hsl(180, 70%, 47%);
    
}
main {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
section:hover {
        height: 210px;
        transition: ease-in 0.75s;
}
    section:hover .Bottom {
        color: white;
        transition: ease-in 0.6s;
        visibility: visible;
}
main {
    margin-left: 10vh;
    margin-right: 10vh;
}
.centre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.textC {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.Titre {
    text-shadow: 2px 2px 5px whitesmoke ;
}
#Space {
    height: 50vh;
    width: 100%;
}
.pokemonimg {
    width: 85px;
}
.Infos{
    color: hsl(180, 70%, 47%);
    margin-top: 20px;
    margin-left: 80px;
    font-size: 20px;
    visibility: hidden;
}
a {
    text-decoration: none;
    color: white;
}

/* Changements selon les types */
    
    #Type {
        padding: 2px;
        border-radius: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .Fire #Type {

        box-shadow: 5px 5px 7px #cc783d;
    }
    .Water #Type {

        box-shadow: 5px 5px 7px #4b71ca;
    }
    .Grass #Type {

        box-shadow: 5px 5px 7px #5da13e;
    }
    .Vol #Type {

        box-shadow: 5px 5px 7px #A890F0;
    }
    .Normal #Type {

        box-shadow: 5px 5px 7px transparent;
    }
    .Electycite #Type {

        box-shadow: 5px 5px 7px transparent;
    }
    .Glace #Type {

        box-shadow: 5px 5px 7px transparent;
    }
    .Combat #Type {

        box-shadow: 5px 5px 7px transparent;
    }
    .Poison #Type {

        box-shadow: 5px 5px 7px transparent;
    }
    .Sol #Type {

        box-shadow: 5px 5px 7px transparent;
    }
    .Psy #Type {

        box-shadow: 5px 5px 7px transparent;
    }
    .Insecte #Type {

        box-shadow: 5px 5px 7px transparent;
    }
    .Normal #Type {

        box-shadow: 5px 5px 7px transparent;
    }
    .Normal #Type {

        box-shadow: 5px 5px 7px transparent;
    }
    .TypesF {
        background-color: #f59048;
    }
    .TypesP {
        background-color: #B046B0;
    }
    .TypesG {
        background-color: #83DC58;
    }
    .TypesV {
        background-color: #6BAED6;
    }
    .TypesW {
        background-color: #9DB7F5;
    }
    .Num {
        width: fit-content;
        margin-right: 20px;
        margin-left: auto;
        color: #6BB347;
        text-shadow: 2px 2px 5px ;
    }
    .Fire .Num {
        color: #cc783d;

    }
    section {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        color: white;
        background-color: #77C850;
        box-shadow: 5px 5px 10px #5da13e;
        padding: 10px;
        height: 140px;
        transition: ease-in 0.75s;
        width: 220px;
    }
    .Grass {
        background-color: #77C850;
        box-shadow: 5px 5px 10px #5da13e;
    }
    .Fire {
        background-color: #F08030;
        box-shadow: 5px 5px 10px #d36f27;

    }
    .Water {
        background-color: #6890F0;
        box-shadow: 5px 5px 10px #4b71ca;

    }

/* ------------------------------------------------------ */

/*Images des pokemons spe*/ 
    #Charizard {
        width: 120px;
    }
    #Bulbizard {
        width: 100px;
    }
    #Herbizzard {
        width: 100px;
    }
    #Florizarre {
        width: 100px;
    }
    #Charizard {
        width: 120px;
    }


/* ------------------------------------------------------ */
    
    .Bottom {
        margin-top: 10px;
        text-align: center;
        visibility: hidden;
        color: transparent;
        height: 0px;
        transition: ease-in 0.75s;
        padding-bottom: 5px;
    }
    a {
        height: fit-content;
    }