body {
    background-color: hsl(180, 70%, 47%);
    
}
main {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
section:hover{
    height:250px;
    transition: ease 0.75s;
}
section:hover .Infos {
    transition: ease 0.75s;
    visibility: visible;
    color: white;
}
section:not(:hover){
    transition: ease 0.5s;
}
section:not(:hover) .Infos {
    transition: ease 0.75s;
}
main {
    margin-left: 10vh;
    margin-right: 10vh;
}
.centre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.textC {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.Titre {
    text-shadow: 2px 2px 5px whitesmoke ;
}
#Space {
    height: 50vh;
    width: 100%;
}
.pokemonimg {
    width : 100;
}
.Infos{
    color: hsl(180, 70%, 47%);
    margin-top: 10px;
    margin-left: 80px;
    font-size: 20px;
    visibility: hidden;
}
a {
    text-decoration: none;
    color: white;
}

/* Changements selon les types */
    
    .TypesG {
        background-color: #83DC58;
        padding: 2px;
        border-radius: 30px;
        box-shadow: 5px 5px 7px #5da13e;
    }
    .TypesF {
        background-color: #f59048;
        padding: 2px;
        border-radius: 30px;
        box-shadow: 5px 5px 7px #cc783d;
        padding-left: 10px;
        padding-right: 10px;
    }
    .TypesP {
        background-color: #B046B0;
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 30px;
        box-shadow: 5px 5px 7px #5da13e;
    }
    .TypesV {
        background-color: #B046B0;
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 30px;
        box-shadow: 5px 5px 7px #5da13e;
    }
    .Num {
        width: fit-content;
        margin-right: 20px;
        margin-left: auto;
        color: #6BB347;
        text-shadow: 2px 2px 5px ;
    }
    .Fire .Num {
        color: #cc783d;

    }
    section {
        padding-top: 2vh;
        padding-left: 1vw;
        height: 160px;
        width: 250px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        color: white;
        background-color: #77C850;
        box-shadow: 5px 5px 10px #5da13e;
    }
    .Grass {
        background-color: #77C850;
        box-shadow: 5px 5px 10px #5da13e;

    }
    .Fire {
        background-color: #F08030;
        box-shadow: 5px 5px 10px #F08030;

    }

/* ------------------------------------------------------ */