body {
    background-color: hsl(180, 70%, 47%);
    
}
main {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
section {
    padding-top: 2vh;
    padding-left: 1vw;
    background-color: #77C850;
    height: 15vh;
    width: 20vh;
    max-width: 25vh;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    color: white;
    box-shadow: 5px 5px 10px #5da13e;
}
section:hover{
    height:25vh;
    transition: ease 0.75s;
}
section:hover .Infos {
    transition: ease 0.75s;
    visibility: visible;
    color: white;
}
section:not(:hover){
    transition: ease 0.5s;
}
section:not(:hover) .Infos {
    transition: ease 0.75s;
}
main {
    margin-left: 10vh;
    margin-right: 10vh;
}
.centre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.textC {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.TypesG {
    background-color: #83DC58;
    padding: 2px;
    border-radius: 30px;
    box-shadow: 5px 5px 7px #5da13e;
}
.TypesP {
    background-color: #B046B0;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    box-shadow: 5px 5px 7px #5da13e;
}
.Num {
    width: fit-content;
    margin-right: 20px;
    margin-left: auto;
    color: #6BB347;
    text-shadow: 2px 2px 5px ;
}
.Titre {
    text-shadow: 2px 2px 5px whitesmoke ;
}
#Space {
    height: 50vh;
    width: 100%;
}
.pokemonimg {
    width : 120;
}
.Infos{
    color: hsl(180, 70%, 47%);
    margin-top: 50px;
    margin-left: 90px;
    font-size: 20px;
    visibility: hidden;
}
a {
    text-decoration: none;
    color: white;
}