body {
    background-color: hsl(180, 70%, 47%);
    
}
main {
    display: flex;
    gap: 75px;
    flex-wrap: wrap;
    flex-direction: column;
}
.PokemonChain {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}
section:hover {
        height: 210px;
        transition: ease-in 0.5s;
}
section:hover .Bottom {
    color: white;
    transition: ease-in 0.6s;
    visibility: visible;
}
main {
    margin-left: 10vh;
    margin-right: 10vh;
}
.centre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-left: 10px;
}
.textC {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.Titre {
    text-shadow: 2px 2px 5px whitesmoke ;
    margin-left:10px ;
}
#Space {
    height: 50vh;
    width: 100%;
}
.pokemonimg {
    width: 85px;
}
.Infos{
    color: hsl(180, 70%, 47%);
    margin-top: 20px;
    margin-left: 80px;
    font-size: 20px;
    visibility: hidden;
}
a {
    text-decoration: none;
    color: white;
}

/* Changements selon les types */
    
    #Type {
        padding: 2px;
        border-radius: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .Fire #Type {
        box-shadow: 5px 5px 7px #cc783d;
    }
    .Water #Type {

        box-shadow: 5px 5px 7px #4b71ca;
    }
    .Grass #Type {

        box-shadow: 5px 5px 7px #5da13e;
    }
    .Fly #Type {

        box-shadow: 5px 5px 7px #5a9ac0;
    }
    .Normal #Type {

        box-shadow: 5px 5px 7px #616161;
    }
    .Electric #Type {

        box-shadow: 5px 5px 7px  #F57F17;
    }
    .Ice #Type {

        box-shadow: 5px 5px 7px #0288D1;
    }
    .Fight #Type {

        box-shadow: 5px 5px 7px #8E0000;
    }
    .Poison #Type {

        box-shadow: 5px 5px 7px  #4A0072;
    }
    .Ground #Type {

        box-shadow: 5px 5px 7px #5D4037;
    }
    .Psy #Type {

        box-shadow: 5px 5px 7px #AD1457;
    }
    .Bug #Type {

        box-shadow: 5px 5px 7px  #56a338;
    }
    .Rock #Type {
        
        box-shadow: 5px 5px 7px  #4E342E;
    }
    .Ghost #Type {
        
        box-shadow: 5px 5px 7px  #311B92;
    }
    .Dragon #Type {
        
        box-shadow: 5px 5px 7px  #1A237E;
    }
    .Steel #Type {
        
        box-shadow: 5px 5px 7px  #37474F;
    }
    .Fairy #Type {
        
        box-shadow: 5px 5px 7px  #C2185B;
    }
    .Dark #Type {
        
        box-shadow: 5px 5px 7px  #1C1C1C;
    }
    .TypesFire {
        background-color: #f59048;
    }
    .TypesPoison {
        background-color: #B046B0;
    }
    .TypesGrass {
        background-color: #83DC58;
    }
    .TypesFly {
        background-color: #87c1e2;
    }
    .TypesWater {
        background-color: #9DB7F5;
    }
    .TypesNormal {
        background-color: #b4b4b4;
    }
    .TypesElectric {
        background-color: #f7df0f;
    }
    .TypesIce {
        background-color: #0288D1;
    }
    .TypesFight {
        background-color: #EF9A9A;
    }
    .TypesGround {
        background-color: #CE93D8;
    }
    .TypesPsy {
        background-color: #F8BBD0;
    }
    .TypesBug {
        background-color: #b2d887;
    }
    .TypesRock {
        background-color: #D7CCC8;
    }
    .TypesGhost {
        background-color: #B39DDB;
    }
    .TypesDragon {
        background-color: #9FA8DA;
    }
    .TypesDark {
        background-color: #BDBDBD;
    }
    .TypesSteel {
        background-color: #CFD8DC;
    }
    .TypesFairy {
        background-color: #FCE4EC;
    }
    .Num {
        width: fit-content;
        margin-right: 20px;
        margin-left: auto;
        color: #6BB347;
        text-shadow: 2px 2px 5px ;
    }
    .Fire .Num {
        color: #cc783d;

    }
    .Water .Num {
        color: #4b71ca;
    }
    .Bug .Num {
        color: #6a9c34;

    }
    .Fly .Num {
        color: #5595b9;

    }
    .Normal .Num {
        color: #818181;

    }
    .Poison .Num {
        color: #5d127e;

    }
    .Electric .Num {
        color: #dba722;

    }
    section {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        color: white;
        background-color: #77C850;
        box-shadow: 5px 5px 10px #5da13e;
        padding: 10px;
        height: 140px;
        transition: ease-in 0.75s;
        width: 220px;
    }
    .Fire {
        background-color: #F08030;
        box-shadow: 5px 5px 10px #d36f27;
    }
    .Poison {
        background-color: #7B1FA2;
        box-shadow: 5px 5px 10px #5d127e;
    }
    .Grass {
        background-color: #77C850;
        box-shadow: 5px 5px 10px #5da13e;
    }
    .Fly {
        background-color: #6BAED6;
        box-shadow: 5px 5px 10px #5595b9;
    }
    .Water {
        background-color: #6890F0;
        box-shadow: 5px 5px 10px #4b71ca;
    }
    .Normal {
        background-color: #9E9E9E;
        box-shadow: 5px 5px 10px #818181;
    }
    .Electric {
        background-color: #FBC02D;
        box-shadow: 5px 5px 10px #dba722;
    }
    .Ice {
        background-color: #4FC3F7;
        box-shadow: 5px 5px 10px #3da6d6;
    }
    .Fight {
        background-color: #C62828;
        box-shadow: 5px 5px 10px #a51e1e;
    }
    .Ground {
        background-color: #A1887F;
        box-shadow: 5px 5px 10px #836b62;
    }
    .Psy {
        background-color: #EC407A;
        box-shadow: 5px 5px 10px #bd2e5e;
    }
    .Bug {
        background-color: #7CB342;
        box-shadow: 5px 5px 10px #6a9c34;
    }
    .Rock {
        background-color: #8D6E63;
        box-shadow: 5px 5px 10px #664d44;
    }
    .Ghost {
        background-color: #512DA8;
        box-shadow: 5px 5px 10px #452492;
    }
    .Dragon {
        background-color: #303F9F;
        box-shadow: 5px 5px 10px #253181;
    }
    .Dark {
        background-color: #424242;
        box-shadow: 5px 5px 10px #2e2d2d;
    }
    .Steel {
        background-color: #607D8B;
        box-shadow: 5px 5px 10px #48616d;
    }
    .Fairy {
        background-color: #F48FB1;
        box-shadow: 5px 5px 10px #cf7493;
    }

/* ------------------------------------------------------ */

/*Images des pokemons spe*/ 
    #Charizard {
        width: 120px;
    }
    #Bulbizard {
        width: 100px;
    }
    #Ivysaur {
        width: 100px;
    }
    #Venusaur {
        width: 105px;
    }
    #Charizard {
        width: 120px;
    }
    #Charmeleon {
        width: 80px;
    }
    #Squirtle {
        width: 90px;
    }
    #Wartortle {
        width: 90px;
    }
    #Caterpie {
        width: 95px;
    }
    #Butterfree {
        width: 105px;
    }
    #Weedle {
        width: 75px;
    }
    #Kakuna {
        width: 50px;
    }
    #Beedrill {
        width: 80px;
    }
    #Pidgeotto {
        width: 80px;
    }
    #Pidgeot {
        width: 90px;
    }
    #Rattata {
        margin-left: -15px;
        width: 105px;
    }
    #Raticate {
        margin-left: -10px;
        width: 95px;
    }

/* ------------------------------------------------------ */
    
    .Bottom {
        margin-top: 10px;
        text-align: center;
        visibility: hidden;
        color: transparent;
        height: 0px;
        transition: ease-in 0.75s;
        padding-bottom: 5px;
    }
    a {
        height: fit-content;
    }