body {
    background-color: hsl(180, 70%, 47%);
    
}
main {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
section {
    padding-top: 2vh;
    padding-left: 1vw;
    background-color: #77C850;
    height: 15vh;
    width: 25vh;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    color: white;
    box-shadow: 5px 5px 10px #5da13e;
}
main {
    margin-left: 10vh;
    margin-right: 10vh;
}
.centre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.Num {
    margin-left: 200px;
}
.textC {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.TypesG {
    background-color: #83DC58;
    padding: 2px;
    border-radius: 30px;
    box-shadow: 5px 5px 7px #5da13e;
}
.TypesP {
    background-color: #B046B0;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    box-shadow: 5px 5px 7px #5da13e;
}
.Num {
    color: #6BB347;
    text-shadow: 2px 2px 5px ;
}
.Titre {
    text-shadow: 2px 2px 5px whitesmoke ;
}
#Space {
    height: 50vh;
    width: 100%;
}