main {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 25vh;
}
html, body {
    max-height: 100%;
    
}
.Left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    font-size: 40px;
    perspective: 800px;
    transform-style: preserve-3d;
    transform: perspective(15cm) rotateY(40deg) ;
    gap: 50px;
}
.LeftLeft, .RightLeft {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 25px;
}
#Right {
    gap: 30px;
}
.LeftLeft {
    display: flex;
    align-items: flex-end;
    
}
.Middle {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
margin-left: -200px;
}
.Right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    font-size: 40px;
    perspective: 800px;
    transform-style: preserve-3d;
    transform: perspective(15cm) rotateY(-40deg) ;
    gap: 50px;
    margin-left: -200px;
}

/* --Pokemons-- */
#Bulbasaur {
    width: 400px;
}
/* ------------ */
@keyframes progress-animation {
  0% { width: 0%; }
  50% { width: 100%; }
}

.progress-barHP {
  width: 17.6%;
  height: 20px;
  background:linear-gradient( 135deg, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50);
  
  animation: progress-animation 2s forwards;
  border-radius: 20px;
  font-size: 15px;
  text-align: end;
  padding-right: 5px;
  color: rgba(255, 255, 255, 0.664);
  
}
.MaxSizeBar{
    width: 200px;
    background-color: gainsboro;
    border-radius: 20px;
}
.progress-barAt {
  width: 25.8%;
  height: 20px;
  background:linear-gradient( 135deg, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50);
  animation: progress-animation 2s forwards;
  border-radius: 20px;
  font-size: 15px;
  text-align: end;
  padding-right: 5px;
  color: rgba(255, 255, 255, 0.664);
  
}
.progress-barDef {
  width: 21.3%;
  height: 20px;
  background:linear-gradient( 135deg, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50);
  animation: progress-animation 2s forwards;
  border-radius: 20px;
  font-size: 15px;
  text-align: end;
  padding-right: 5px;
  color: rgba(255, 255, 255, 0.664);
  
}
.progress-barSp {
  width: 22.5%;
  height: 20px;
  background:linear-gradient( 135deg, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50);
  animation: progress-animation 2s forwards;
  border-radius: 20px;
  font-size: 15px;
  text-align: end;
  padding-right: 5px;
  color: rgba(255, 255, 255, 0.664);
  
}
.progress-barTot {
  width: 40.8%;
  height: 20px;
  background:linear-gradient( 135deg, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50,  #74e778, #4CAF50);
  animation: progress-animation 2s forwards;
  border-radius: 20px;
  font-size: 15px;
  text-align: end;
  padding-right: 5px;
  color: rgba(255, 255, 255, 0.664);
}


.Types {
    display: flex;
    width: fit-content;
    gap: 20px;
}
#Grass {
        background-color: #77C850;
        box-shadow: 0 0 10px 2.5px #77C850;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: -5px;
}  
#Poison {
        background-color: #7B1FA2;
        box-shadow: 0 0 10px 2.5px #7B1FA2;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: -5px;
}  